<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.james.ssm.mapper.UserMapper">
	
	<cache  type="org.mybatis.caches.ehcache.EhcacheCache"/>
	
	<sql id="queryUserWhere">
			<if test="userCustom  != null">
			<if test="userCustom.sex != null">
			and  user.sex=#{userCustom.sex}
			</if>
			<if test="userCustom.username != null">
			    AND user.username LIKE '%${userCustom.username}%' 
			</if>
		</if>
	</sql>
	
	<sql id="queryIds">
	<if test="ids != null">
		<foreach collection="ids" item="user_id" open=" and (" close=")" separator="or">
		id = #{ user_id}
		
		</foreach>
	</if>
	</sql>
	
	<select id="selectById" parameterType="int" resultType="com.james.ssm.po.User">
		select * from user where id = #{id}
	</select>
	<insert id="insertUser" parameterType="com.james.ssm.po.User">
	    insert into user(username,birthday,sex,address) values(#{username},#{birthday},#{sex},#{address})
	    
	</insert>
	
	<delete  id="deleteUserById" parameterType="int">
		 delete from user  where id = #{id} 
	</delete>
	<select id='FindUserByName' parameterType="java.lang.String">
		select * from user where username like '%${value}%'
	</select>
	
	<update id="updateUser"  parameterType="com.james.ssm.po.User">
		update user set
		  username = #{username},
		  birthday = #{birthday},
		  sex = #{sex},
		  address = #{address}
		where id = #{id}
	</update>
	
	<select id="findUserList"  parameterType="com.james.ssm.po.UserQueryVo" resultType="com.james.ssm.po.UserCustom">
		SELECT * FROM user   
		<where>
		<include refid="queryUserWhere"></include>
		</where>
	</select>
	
		<select id="findUserListCount"  parameterType="com.james.ssm.po.UserQueryVo" resultType="int">
		SELECT count(*) FROM user 
		<where>
		 <include refid="queryUserWhere"></include>
		</where>
		
	</select>
	
	<select id="findUserListbyOr" parameterType="com.james.ssm.po.UserQueryVo" resultType="com.james.ssm.po.UserCustom">
	   select *  from user 
		<where>
			 <include refid="queryIds"/>
		</where>
	</select>
</mapper>