<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


<typeAliases>
	<package name="com.james.ssm.po"></package>
</typeAliases>

	<!--<mappers>-->
		<!--<mapper resource="com/james/ssm/mapper/ItemsMapperCustom.xml"></mapper>-->
		<!--&lt;!&ndash; 单个加载 <mapper class="com.james.mapper.UserMapper"></mapper> &ndash;&gt;-->
		<!--&lt;!&ndash; 批量加载-->
		<!--<package name="com.james.mapper" />-->
<!--&ndash;&gt;-->
	<!--</mappers>-->

</configuration>