<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 加载配置文件 -->
	<bean id="itemsService" class="com.james.ssm.service.impl.ItemsServiceImpl"></bean>

	<bean id="personService" class="com.james.ssm.service.impl.PersonServiceImpl"></bean>

	<bean id="reconditionService"  class="com.james.ssm.service.impl.ReconditionServiceImpl"></bean>
	<bean id="systemInfoService"  class="com.james.ssm.service.impl.SystemInfoServiceImpl"></bean>

	<bean id="inspectionService"  class="com.james.ssm.service.impl.InsperctionServiceImpl"></bean>

    <bean id="memuleftService"  class="com.james.ssm.service.impl.MemuleftServiceImpl"></bean>
    <bean id="rolsService"  class="com.james.ssm.service.impl.RolsServiceImpl"></bean>

</beans>